# System
BR2_arcle=y
BR2_KERNEL_HEADERS_3_18=y
BR2_TARGET_GENERIC_HOSTNAME="axs101"
BR2_TARGET_GENERIC_ISSUE="Welcome to the ARC Software Development Platform"
BR2_SYSTEM_DHCP="eth0"
BR2_ROOTFS_OVERLAY="board/synopsys/axs10x-usb3/rootfs-overlay"
BR2_TARGET_ROOTFS_INITRAMFS=y

# Custom Kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_PATCH="board/synopsys/axs10x-usb3/patches/linux-kernel"
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="https://github.com/foss-for-synopsys-dwc-arc-processors/linux"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="db504ccc004330e5387e8a4f2ebe25c74baba6e7"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/synopsys/axs10x-usb3/axs101_usb_device.config"

# Toolchain Options
BR2_TOOLCHAIN_BUILDROOT_INET_RPC=y
BR2_TOOLCHAIN_BUILDROOT_WCHAR=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
#BR2_TOOLCHAIN_EXTERNAL=y
#BR2_TOOLCHAIN_EXTERNAL_HEADERS_3_18=y
#BR2_TOOLCHAIN_EXTERNAL_GCC_4_8=y
#BR2_TOOLCHAIN_EXTERNAL_WCHAR=y
#BR2_TOOLCHAIN_EXTERNAL_INET_RPC=y
#BR2_TOOLCHAIN_EXTERNAL_CXX=y
# BR2_TOOLCHAIN_EXTERNAL_HAS_THREADS_DEBUG is not set

# Packages
BR2_PACKAGE_MPLAYER=y
BR2_PACKAGE_MPLAYER_MENCODER=y
BR2_PACKAGE_NFS_UTILS=y
BR2_PACKAGE_PERL=y
BR2_PACKAGE_NANO=y
BR2_PACKAGE_USB_SCRIPTS=y

# U-Boot
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_CUSTOM_VERSION=y
BR2_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2015.10"
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="axs101"
