BR2_aarch64=y
BR2_ROOTFS_OVERLAY="board/synopsys/usb/common/rootfs-overlay"
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_4_6=y
BR2_TARGET_GENERIC_HOSTNAME="juno-buildroot"
BR2_TARGET_GENERIC_ISSUE="Welcome to SNPS Juno by Buildroot"
BR2_TARGET_GENERIC_GETTY_OPTIONS="-n -l /usr/bin/autologin"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="git://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="v4.6"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/arm/juno/linux-juno-defconfig"
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="board/synopsys/usb/juno/linux.fragment"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="arm/juno arm/juno-r1 arm/juno-r2"
BR2_GLOBAL_PATCH_DIR="custom-packages"
BR2_TARGET_ARM_TRUSTED_FIRMWARE=y
BR2_TARGET_ARM_TRUSTED_FIRMWARE_CUSTOM_GIT=y
BR2_TARGET_ARM_TRUSTED_FIRMWARE_CUSTOM_REPO_URL="https://github.com/ARM-software/arm-trusted-firmware.git"
BR2_TARGET_ARM_TRUSTED_FIRMWARE_CUSTOM_REPO_VERSION="v1.2"
BR2_TARGET_ARM_TRUSTED_FIRMWARE_PLATFORM="juno"
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BOARDNAME="vexpress_aemv8a_juno"
BR2_TARGET_UBOOT_CUSTOM_VERSION=y
BR2_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2016.03"
BR2_TARGET_VEXPRESS_FIRMWARE=y
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
BR2_TARGET_ROOTFS_EXT2_BLOCKS=256000
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/synopsys/usb/juno/genimg-sd-post-image.sh board/synopsys/usb/juno/genimg-rootfs-post-image.sh board/synopsys/usb/juno/clean-post-image.sh"
BR2_ROOTFS_POST_BUILD_SCRIPT="board/synopsys/usb/common/fstab-post-build.sh board/synopsys/usb/common/network-post-build.sh"
BR2_PACKAGE_ALSA_UTILS=y
BR2_PACKAGE_ALSA_UTILS_APLAY=y
BR2_PACKAGE_FFMPEG=y
BR2_PACKAGE_FFMPEG_FFPLAY=y
BR2_PACKAGE_SDL_SOUND=y
BR2_PACKAGE_PCIUTILS=y
BR2_PACKAGE_IRQBALANCE=y
BR2_PACKAGE_MPLAYER=y
BR2_PACKAGE_HDPARM=y
BR2_PACKAGE_PERL=y
BR2_PACKAGE_NANO=y
BR2_PACKAGE_USB_SCRIPTS=y
BR2_PACKAGE_CONNMAN=y
BR2_PACKAGE_HOST_GENIMAGE=y
BR2_PACKAGE_HOST_DOSFSTOOLS=y
BR2_PACKAGE_BUSYBOX_CONFIG_FRAGMENT_FILES="board/synopsys/usb/common/busybox.fragment"
