# Architecture
BR2_arcle=y

# System
BR2_TARGET_GENERIC_HOSTNAME="axs101"
BR2_TARGET_GENERIC_ISSUE="Welcome to the ARC Software Development Platform"
BR2_TARGET_GENERIC_GETTY_OPTIONS="-n -l /usr/bin/autologin"
BR2_TARGET_ROOTFS_INITRAMFS=y
BR2_GLOBAL_PATCH_DIR="custom-packages"
BR2_SYNOPSYS_USB=y
BR2_ROOTFS_OVERLAY="board/synopsys/common-usb/rootfs-overlay"
BR2_ROOTFS_POST_BUILD_SCRIPT="board/synopsys/common-usb/fstab-post-build.sh board/synopsys/common-usb/intf-post-build.sh"

# Linux headers same as kernel, a 3.18 series
BR2_KERNEL_HEADERS_3_18=y

# Kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="https://github.com/foss-for-synopsys-dwc-arc-processors/linux"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="arc-3.18-4"
BR2_LINUX_KERNEL_DEFCONFIG="axs101"
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="board/synopsys/axs10x-usb3/axs101_usb.fragment"

# Toolchain Options
BR2_TOOLCHAIN_BUILDROOT_INET_RPC=y
BR2_TOOLCHAIN_BUILDROOT_WCHAR=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y

# Packages
BR2_PACKAGE_MPLAYER=y
BR2_PACKAGE_NFS_UTILS=y
BR2_PACKAGE_PERL=y
BR2_PACKAGE_NANO=y
BR2_PACKAGE_USB_SCRIPTS=y
BR2_PACKAGE_CONNMAN=y
BR2_PACKAGE_BUSYBOX_CONFIG_FRAGMENT_FILES="board/synopsys/common-usb/busybox.fragment"

# Bootloader
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_CUSTOM_VERSION=y
BR2_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2016.07"
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="axs101"
